@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap");

body,
html {
  background-color: ffffff;
  color: rgb(0, 0, 0);
  font-family: "Arial", "Helvetica", "sans-serif";
  width: 100%;
  height: 5000px;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f7efef;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a5a2a2;
  border-radius: 5px;
}
.head {
  width: 100%;
  height: 60px;
}

.header {
  display: flex;
  width: 80%;
  height: 60px;
  margin: 0 auto;
  justify-content: space-between;
}

.head-logo {
  display: flex;
  font-family: "Open Sans";
  font-size: 32px;
  letter-spacing: 4px;
  text-transform: uppercase;
  align-items: center;
  color: #69b9ff;
}

.head-text {
  display: flex;
  width: 183px;
  height: 60px;

  font-family: "Open Sans";
  font-size: 17px;
  align-items: center;
  justify-content: space-between;
  color: #0082f3;
}

.head-text a {
  color: #0082f3;
}

a.head-Contact {
  color: #676770;
}

.img-frame {
  width: 100%;
  height: 950px;
  display: grid;

  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;

  background-repeat: no-repeat;
  background-image: url("./img/bg.jpg");
}

.img-text-frame {
  width: 940px;
  height: 200px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.img-text-frame span {
  height: 60px;
  position: relative;
  font-family: "Open Sans";
  font-size: 65px;

  letter-spacing: 4px;
  text-transform: uppercase;

  color: #ffffff;
}

.img-button {
  display: flex;
  width: 400px;
  height: 55px;
  justify-content: space-between;
}

.img-text a {
  font-family: "Open Sans";
  font-size: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #ffffff;
}

#img-first-button {
  display: flex;
  width: 150px;
  height: 48px;

  text-align: center;
  justify-content: center;
  align-items: center;

  background: #69b9ff;
  border-radius: 4px;
}

#img-second-button {
  display: flex;
  width: 195px;
  height: 48px;

  text-align: center;
  justify-content: center;
  align-items: center;

  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}

.to_do {
  display: flex;
  width: 100%;
  height: 800px;

  align-items: center;
  justify-content: center;
}

.to_do-frame {
  width: 1440px;
  height: 550px;

  text-align: center;
  align-items: center;
  justify-content: center;
}

.to_do-frame-text {
  width: 1440px;
  height: 100px;

  font-family: "Open Sans";
  font-size: 35px;
  line-height: 40px;
  /* identical to box height, or 120% */

  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;

  color: #676770;
}

/* .to_do-frame-text p {
  font-family: "Open Sans";

  font-size: 25px;
  line-height: 25px;

  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #8e8e9c;
} */

.to_do-text {
  margin: 0 auto;
  width: 80%;
  font-size: 21px;
  line-height: 80px;
}

.to_do-info {
  display: flex;
  width: 1220px;
  height: 400px;
  margin: 50px auto;

  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.to_do-info img {
  display: grid;
  width: 115px;
  height: 115px;
  margin: 20px auto;
}

.to_do-info p {
  display: grid;
  width: 350px;
  height: 20px;
  margin: -40px auto;

  font-family: "Open Sans";
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #676770;
}

.to_do-info span {
  display: grid;
  width: 340px;
  height: 20px;
  margin: -40px auto;

  font-family: "Open Sans";
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #6a859c;
}

.info-blok1 {
  display: grid;
  width: 380px;
  height: 340px;

  border: 2px solid #dcebf7;
  box-sizing: border-box;
  border-radius: 9px;
}

.info-blok2 {
  display: grid;
  width: 380px;
  height: 340px;

  border: 2px solid #dcebf7;
  box-sizing: border-box;
  border-radius: 9px;
}

.info-blok3 {
  display: grid;
  width: 380px;
  height: 340px;

  border: 2px solid #dcebf7;
  box-sizing: border-box;
  border-radius: 9px;
}

.services {
  display: grid;
  width: 100%;
  height: 950px;

  text-align: center;
  justify-content: center;
  align-items: center;

  background: #192024;
}

.services-frame {
  display: grid;
  width: 1100px;
  height: 780px;
  margin: 0 auto;

  text-align: center;
  justify-content: center;
}

.services-frame-head {
  display: grid;
  width: 1100px;
  height: 105px;
  margin: 0 auto;

  text-align: center;
  justify-content: center;
}

.services-frame-head span {
  font-family: "Open Sans";
  font-size: 40px;
  height: 70px;

  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;

  color: #ffffff;
}

.services-frame-head p {
  font-family: "Open Sans";
  font-size: 20px;

  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #e8e8e8;
}

.services-frame-body {
  display: flex;
  width: 1100px;
  height: 600px;
  margin: 60px auto;

  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.services-body-first_frame {
  display: grid;
  width: 480px;
  height: 570px;
  margin: 0 auto;

  text-align: center;
  justify-content: center;
  align-items: center;
}

.services-body-second_frame {
  display: grid;
  width: 480px;
  height: 570px;
  margin: 0 auto;

  text-align: center;
  justify-content: center;
  align-items: center;
}

#services-img-first {
  width: 450px;
  display: flex;
  margin: 0 auto;
  border-radius: 5px;
}

#services-img-second {
  width: 450px;
  display: flex;
  margin: 0 auto;
  border-radius: 5px;
}

.services-body-first_frame span {
  font-family: "Open Sans";
  font-size: 22px;
  line-height: 30px;

  text-align: center;
  letter-spacing: 7px;
  text-transform: uppercase;

  color: #ffffff;
}

.services-body-second_frame span {
  font-family: "Open Sans";
  font-size: 22px;
  line-height: 30px;

  text-align: center;
  letter-spacing: 7px;
  text-transform: uppercase;

  color: #ffffff;
}

.services-body-first_frame p {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 25px;

  text-align: center;

  color: #ffffff;
}

.services-body-second_frame p {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 25px;

  text-align: center;

  color: #ffffff;
}

#services-button-first {
  display: flex;
  width: 183px;
  height: 43px;
  margin: 0 auto;

  text-align: center;
  justify-content: center;
  align-items: center;

  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
}

#services-button-second {
  display: flex;
  width: 183px;
  height: 43px;
  margin: 0 auto;

  text-align: center;
  justify-content: center;
  align-items: center;

  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
}

#services-button-second span {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 21px;

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #ffffff;
}

#services-button-first span {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 21px;

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #ffffff;
}

.Tab {
  display: grid;
  width: 100%;
  height: 1250px;

  text-align: center;
  justify-content: center;
}

.tab-photo {
  display: flex;
  margin: 0 auto;
  border-radius: 5px;
}

.tab-activ {
  display: grid;
  margin: 100px auto;

  width: 1040px;
  height: 1040px;

  text-align: center;
  justify-content: center;
  align-items: center;
}

.tab-activ p {
  font-family: "Open Sans";
  font-size: 30px;
  line-height: 36px;

  text-align: center;
  letter-spacing: 5px;

  color: #676770;
}

.tab-span1 {
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 25px;

  text-align: center;
  color: #6a859c;
}

.tab-span {
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 20px;

  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #8e8e9c;
}

.tab-buttons {
  display: flex;
  width: 700px;
  height: 60px;
  margin: 0 auto;

  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.tab-buttons span {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 21px;

  text-align: center;
  letter-spacing: 2px;

  color: #ffffff;
}

.Tab_Button_1 {
  display: flex;
  width: 191px;
  height: 21px;

  justify-content: center;
  background: #2e80b6;
  border-radius: 5px;
}

.Tab_Button_2 {
  display: flex;
  width: 191px;
  height: 21px;

  justify-content: center;
  background: #92a0ad;
  border-radius: 5px;
}

.Tab_Button_3 {
  display: flex;
  width: 191px;
  height: 21px;

  justify-content: center;
  background: #92a0ad;
  border-radius: 5px;
}

@media (min-width: 360px) and (max-width: 540px) {
  .header {
    display: flex;
    width: 370px;
  }
  .head-logo {
    font-size: 30px;
  }
  .head-text {
    width: 140px;
    font-size: 15px;
  }
  .img-text-frame {
    height: 250px;
    width: 80%;
  }
  .img-text-frame span {
    font-size: 45px;
    line-height: 55px;
  }
  .img-button {
    width: 320px;
  }
  .img-text a {
    font-size: 14px;
  }
  #img-first-button {
    width: 130px;
    height: 45px;
  }
  #img-second-button {
    width: 150px;
    height: 45px;
  }
  /* ===== */

  /* ===== */
  .to_do {
    height: 1200px;
  }
  .to_do-frame {
    height: 1200px;
  }
  .to_do-info {
    height: 1050px;
  }
  .to_do-frame-text {
    margin: 25px auto;
  }
  .to_do-text {
    margin: 0 auto;
    width: 80%;
    font-size: 16px;
    line-height: 50px;
  }
  .to_do-info {
    display: grid;
    margin: 10px auto;
    width: 360px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .to_do-info img {
    width: 95px;
    height: 95px;
    margin: 15px auto;
  }

  .to_do-info p {
    width: 300px;
    height: 20px;
    margin: -40px auto;

    font-family: "Open Sans";
    font-size: 18px;
    line-height: 24px;
  }

  .to_do-info span {
    display: grid;
    width: 300px;
    height: 20px;
    margin: -40px auto;
  }

  .info-blok1 {
    width: 320px;
    height: 300px;
    margin: 25px auto;
  }
  .info-blok2 {
    width: 320px;
    height: 300px;
    margin: 25px auto;
  }
  .info-blok3 {
    width: 320px;
    height: 300px;
    margin: 25px auto;
  }
  .services-frame-body {
  }
}
